@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$font-family-base: 'Quicksand', sans-serif;

$theme-colors: (
    "primary": #b05328,
    "secondary": #feaf0d,
    "tomato": #cd0508,
    "white": #f5f5f5,
    "blue": #abdbe5
);

:root {
  --primary: #{map-get($theme-colors, "primary")};
  --secondary: #{map-get($theme-colors, "secondary")};
  --tomato: #{map-get($theme-colors, "tomato")};
  --white: #{map-get($theme-colors, "white")};
  --blue: #{map-get($theme-colors, "blue")};
}

@each $color, $value in $theme-colors {
    .table-#{$color} {
      --bs-table-bg: #{$value};
      --bs-table-striped-bg: #{mix($value, white, 10%)};
      --bs-table-hover-bg: #{mix($value, white, 20%)};
      color: black; 
    }
  }
  

@import 'bootstrap/scss/bootstrap';